<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407528623484-lv4dghuhh17690vj7pe4fig8lbrt09jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407528623484-lv4dghuhh17690vj7pe4fig8lbrt09jl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>407528623484-8j5lemjk1aui8f30qiih7uralnjciuvg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpdtdzVFrWnNuvCQmFBEgT-CTkdW2myVw</string>
	<key>GCM_SENDER_ID</key>
	<string>407528623484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Pinoyaya</string>
	<key>PROJECT_ID</key>
	<string>pinoyaya-37c17</string>
	<key>STORAGE_BUCKET</key>
	<string>pinoyaya-37c17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407528623484:ios:c960937fd2f885586a68f9</string>
</dict>
</plist>